## ML 과제

과제할 때 꿀팁!

1. 이전 세션들에서의 자료를 찾아본다.
2. 질문방에 질문한다.
3. 구글링한다.
4. 복붙하지 않고 직접 타이핑해서 코드를 완성한다.

In [17]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings(action='ignore')

### 0. Titanic 데이터 로드 및 훓어보기

In [18]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [19]:
# 여러분이 이전 과제로 만드셨을 FE를 진행한 데이터 보다는 원본 데이터가 조금 더 이번 실습에 적합하기 때문에 원본을 사용하겠습니다.
# 데이터를 로드하고, 잘 불러와진 것인지 첫 5행을 불러와 확인해보세요.

titanic = pd.read_csv('/content/drive/MyDrive/YBIGTA/titanic.csv')
titanic.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [20]:
# 변수들의 데이터 타입, 결측치, target의 imbalance 여부를 확인해주세요.
print("*변수들의 데이터 타입")
print(titanic.info())
print("-"*50)
print("*column 별 결측치")
print(titanic.isnull().sum())
print("-"*50)
print("*target의 imbaalance 여부")
print(titanic.groupby('Survived').size())

*변수들의 데이터 타입
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
--------------------------------------------------
*column 별 결측치
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
--------------------------------------------------
*target의 imbaalance 여부
Survived
0    549
1    342
dtype: int64

In [21]:
# 편의상 결측치 데이터 및 승객 고유의 데이터('PassengerId','Name', 'Ticket', 'Cabin')는 모두 drop 시킵시다.
# 실제 프로젝트에서는 이렇게 하시면 성능이 낮을 수 있어요!!
titanic.drop(['PassengerId','Name', 'Ticket', 'Cabin'],axis=1,inplace=True)
titanic.columns

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [65]:
#밑에서 model 만들 때 NaN으로 인해 오류가 나서 Age와 Embarked에 결측치가 있는 행까지 모두 지웠습니다
titanic.dropna(inplace=True)
titanic.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [66]:
# categorical feature(Sex, Embarked)에 대해 LabelEncoding을 진행해 주세요.
# 전처리 완료된 DataFrame을 첫 5행을 불러와 확인해보세요
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
titanic['Sex']=le.fit_transform(titanic['Sex'])
titanic['Embarked']=le.fit_transform(titanic['Embarked'])
titanic.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

### 1. Train-Test split & 종속변수-설명변수 분할

In [37]:
# 분할을 위해 필요한 적절한 패키지를 불러와주세요 
# train-test split 및 종속변수-설명변수 분할을 진행해주세요
from sklearn.model_selection import train_test_split

y=titanic.Survived
X=titanic.drop('Survived',axis=1)

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

### 2. Decision Tree를 통한 Classification

In [25]:
# Decision Tree에서 categorical feature인 'Pclass'를 기준으로 첫 번째 Node(Root Node)가 분리된다고 가정합시다.
# 이 때 Entropy 지표를 통해 Information Gain을 계산할 수 있는 함수(또는 코드)를 작성하고, Information gain을 계산하세요.
# 실습에서 다루지 않은 내용입니다. 코드가 어려우시다면 줄글로만 풀이과정을 작성해주셔도 됩니다.

# titanic data로 Pclass를 분리기준으로 이용했을 때의 entropy를 계산하는 상황만 고려하시면 됩니다.
# 계산에 사용할 데이터는 분할 이전의 0번에서 전처리 완료한 데이터를 기준으로 하겠습니다!
# 올바르게 계산할 시 Information Gain은 0.0097이 나옵니다.

In [67]:
print(titanic.groupby(['Pclass','Survived']).size())
print('-'*50)
print(titanic.groupby(['Survived']).size())
print('-'*50)
print(titanic.groupby(['Pclass']).size())
print('-'*50)
print(titanic.shape)

Pclass  Survived
1       0            64
        1           120
2       0            90
        1            83
3       0           270
        1            85
dtype: int64
--------------------------------------------------
Survived
0    424
1    288
dtype: int64
--------------------------------------------------
Pclass
1    184
2    173
3    355
dtype: int64
--------------------------------------------------
(712, 8)

In [64]:
import math
ParentNode=((-288/712)*math.log(288/712,2))+((-424/712)*math.log(424/712,2))
Chnode1=((-120/184)*math.log(120/184,2)+(-64/184)*math.log(64/184,2))*184/712
Chnode2=((-83/173)*math.log(83/173,2)+(-90/173)*math.log(90/173,2))*173/712
Chnode3=((-85/355)*math.log(85/355,2)+(-270/355)*math.log(270/355,2))*355/712
InformationGain=ParentNode-(Chnode1+Chnode2+Chnode3)
print(InformationGain)

0.09400998456880627

##### <b>줄글 답안</b>
>

In [41]:
titanic.dropna(inplace=True)
titanic.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [68]:
# Decision Tree 모델을 사용하기 위한 적절한 패키지를 불러와 주세요
# 별 다른 parameter 설정 없이 객체를 만들어 주고, 학습을 진행하세요
from sklearn.tree import DecisionTreeClassifier
dt_clf = DecisionTreeClassifier() 
dt_clf.fit(X_train, y_train) 
prediction=dt_clf.predict(X_test)

### 3. Graphviz를 통한 시각화

graphviz 설치를 하지 않으셨거나 오류가 난다면 이 부분은 건너뛰셔도 좋습니다

In [ ]:
from sklearn.tree import export_graphviz

export_graphviz(# [주석 기호를 지운 뒤 할당한 객체 이름을 적어주세요] ,
                out_file=("titanic_hw.dot"),
                feature_names=X_train.columns,
                class_names=['0','1'],
                rounded=True,
                filled=True)

import graphviz
import os

os.environ["PATH"] += os.pathsep + 'C:/graphviz-2.38/release/bin'

with open("titanic_hw.dot") as f:
    dot_graph = f.read()
    display(graphviz.Source(dot_graph))

### 4. 결과 확인

In [70]:
# accuracy, f1 score, roc_auc score, confusion matrix, classification report를 모두 불러와주세요
# 불러온 metric(결과 확인 지표)들을 통해 결과를 확인해주세요.
from sklearn.metrics import accuracy_score, f1_score, roc_auc_score, confusion_matrix, classification_report

matrix=confusion_matrix(y_test,prediction)
print('Confusion matrix',matrix,'-'*30,sep='\n')
print('Accuracy:: {}'.format(accuracy_score(y_test,prediction)),
      'F1_Score:: {}'.format(f1_score(y_test,prediction)),
      'ROC_AUC_Score:: {}'.format(roc_auc_score(y_test,prediction)),
      '-'*30,sep='\n')
print('Classification report',classification_report(y_test,prediction),sep='\n')

Confusion matrix
[[63 17]
 [27 36]]
------------------------------
Accuracy:: 0.6923076923076923
F1_Score:: 0.6206896551724137
ROC_AUC_Score:: 0.6794642857142857
------------------------------
Classification report
              precision    recall  f1-score   support

           0       0.70      0.79      0.74        80
           1       0.68      0.57      0.62        63

    accuracy                           0.69       143
   macro avg       0.69      0.68      0.68       143
weighted avg       0.69      0.69      0.69       143

### 5. GridSearch를 통한 Tree pruning

In [75]:
# GridSearch를 위한 적절한 패키지를 불러와 주세요
# max_leaf_nodes를 제외한 3가지 이상의 parameter에 대한 GridSearch를 진행해주세요. scoring은 원하시는 지표로 하셔도 됩니다.
from sklearn.model_selection import GridSearchCV
grid_dt = DecisionTreeClassifier()
criterion=['gini','entropy']
min_samples_split=[2,3,4,5,6]
max_depth=[8,9,10,11]
parameter_grid={'criterion':criterion,'min_samples_split':min_samples_split,'max_depth':max_depth}
gs=GridSearchCV(estimator=grid_dt,param_grid=parameter_grid,scoring='f1')
gs.fit(X_train,y_train)

GridSearchCV(cv=None, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=None,
                                              splitter='best'),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [8, 9, 10, 11],
                         'min_samples_split': [2, 3, 4, 5, 6]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='f1', verbose=0)

In [76]:
# 최적 parameter 조합 / Validation score / Test score를 확인해 주세요.
gs_test=GridSearchCV(estimator=grid_dt,param_grid=parameter_grid,scoring='f1')
gs_test.fit(X_test,y_test)
print('GridSearch 최적 parameter:{}'.format(gs.best_params_),
      'GridSearch 최고 Validation Score: {:.3f}'.format(gs.best_score_),
      'GridSearch 최고 Test Score: {:.3f}'.format(gs_test.best_score_),sep='\n')

GridSearch 최적 parameter:{'criterion': 'gini', 'max_depth': 11, 'min_samples_split': 5}
GridSearch 최고 Validation Score: 0.744
GridSearch 최고 Test Score: 0.677

In [77]:
## GridSearch에 사용하신 parameter는 Decision Tree 모델 학습에서 어떤 역할을 하는지 간단하게 요약해주세요.
## ex) criterion은 decision tree의 분류 기준인 불순도 지표를 정한다.
## hint) Shift+tab
print('criterion은 decision tree의 불순도를 계산하는 지표를 설정한다.',
'min_samples_split은 노드를 분할하기 위한 최소한의 샘플 데이터 수이다.',
'max_depth는 트리의 최대 깊이를 의미한다.',sep='\n')

criterion은 decision tree의 불순도를 계산하는 지표를 설정한다.
min_samples_split은 노드를 분할하기 위한 최소한의 샘플 데이터 수이다.
max_depth는 트리의 최대 깊이를 의미한다.

> ### <b>고생하셨습니다~</b>

생각보다 GridSearch의 결과가 안 좋게 나와서 이상하다 생각하신 분들도 있을 수 있습니다. GridSearch 특성상 기존에 정해준 parameter 범위 내에서 찾는 것이기 때문에 애초에 적절한 parameter 후보를 찾지 못했다면 성능이 안 좋을 수도 있습니다. 앞으로 여러 프로젝트 진행해보시면서, parameter 찾는 것에 대한 감도 스스로 익혀보시면 좋을 것 같습니다!